# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
/backend/staticfiles/
/backend/media/

# Node
node_modules/
/frontend/dist/
.npm

# Environment
.env
.env.local
.env.*.local

# IDE
.DS_Store
.idea/
.vscode/
*.swp

# Docker
.docker/
